go 1.25.1

use (
	./1-client-server-communication/01-rest-api
	./1-client-server-communication/02-short-polling
	./1-client-server-communication/03-long-polling
	./1-client-server-communication/04-sse
	./1-client-server-communication/05-websocket
	./1-client-server-communication/06-grpc
	./2-system-architecture/01-monolithic
	./2-system-architecture/02-service-based
	./2-system-architecture/03-microservices
	./2-system-architecture/04-event-driven-eda
	./3-application-architecture/01-ui-patterns/mvc-pattern
	./3-application-architecture/01-ui-patterns/mvp-pattern
	./3-application-architecture/01-ui-patterns/mvvm-pattern
	./3-application-architecture/01-ui-patterns/viper-pattern
	./3-application-architecture/02-layered-architecture
	./3-application-architecture/03-pipeline-architecture
	./3-application-architecture/04-microkernel-architecture
	./3-application-architecture/05-clean-architecture
	./gnetcat
)
